<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
    </head>

    <body>
    <a href="{{ path('app_translator_changelocal', {'_locale': 'ru' } ) }}">{% trans from 'messages' %}Ru{% endtrans %}</a>
    <a href="{{ path('app_translator_changelocal', {'_locale': 'en' } ) }}">{% trans from 'messages' %}En{% endtrans %}</a>
    <a href="{{ path('homePage') }}">{% trans from 'messages' %}home{% endtrans %}</a>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
