{% extends "base.html.twig" %}

{% block title %}AppBundle:Translator:index{% endblock %}

{% block body %}
    {% if app.user != true  %}
        <a href="{{ path('fos_user_security_login') }}">{% trans from 'messages' %}Log{% endtrans %}</a>
        <a id="register" href="{{ path('fos_user_registration_register') }}">{% trans from 'messages' %}Register{% endtrans %}</a>
{% endif %}
    {% if app.user %}
        <a href="{{ path('fos_user_security_logout') }}">{% trans from 'messages' %}LogO{% endtrans %}</a>
{% endif %}
    <div style="margin-left: 30%; margin-right: 30%">
    <h1>{% trans from 'messages' %}welcome.our{% endtrans %}</h1>
    <h2>{% trans from 'messages' %}welcome.we{% endtrans %}</h2>
        <ul style=" width: auto;">
{% for word in  words%}
      <li  >  <a href="{{ path('new',{'id' : word.id}) }}" >{{ word.translate('ru').word }}</a></li>
{% endfor %}
        </ul>
        <div style="text-align: right">
    {{ form(form) }}
        </div>
    </div>
{% endblock %}
