{% extends "base.html.twig" %}

{% block title %}AppBundle:Translator:new{% endblock %}

{% block body %}
    {% if app.user != true  %}
        <a href="{{ path('fos_user_security_login') }}">{% trans from 'messages' %}Log{% endtrans %}</a>
        <a href="{{ path('fos_user_registration_register') }}">{% trans from 'messages' %}Register{% endtrans %}</a>
    {% endif %}

    <div style="margin-right: 14%; margin-left: 14%; text-align: center;">
        <h1>{% trans from 'messages' %} newAction {% endtrans %}</h1>
        <table style=" width: auto; border : 1px" cellpadding="4" border="1px">
    <tr>
        <th style="width: 300px">{% trans from 'messages' %} language.Ru {% endtrans %}</th>
        <th style="width: 300px">{% trans from 'messages' %} language.En {% endtrans %}</th>
        <th style="width: 300px">{% trans from 'messages' %} language.Jp {% endtrans %}</th>
        <th style="width: 300px">{% trans from 'messages' %} language.Gm {% endtrans %}</th>
        <th style="width: 300px">{% trans from 'messages' %} language.It {% endtrans %}</th>
    </tr>
    {% if app.user %}
        {{ form_start(form, {'method': 'post', 'action': path('new',{ 'id' : words.id })})  }}
          <tr>
            <td>{{ words.translate('ru').word }}</td>

            {% if words.translations.containsKey('en')%}
                <td>{{ words.translate('en').word }}</td>
                {% else %}
                <td>{{ form_widget(form.en) }}</td>
                {% endif %}

            {% if words.translations.containsKey('jp')%}
                <td> {{ words.translate('jp').word }}</td>
            {% else %}
                <td>{{ form_widget(form.jp) }}</td>
            {% endif %}
            {% if words.translations.containsKey('gm')%}
                <td>{{ words.translate('gm').word }}</td>
            {% else %}
                <td>{{ form_widget(form.gm) }}</td>

            {% endif %}
            {% if words.translations.containsKey('it')%}
                <td> {{ words.translate('it').word }}</td>
            {% else %}
                <td>{{ form_widget(form.it) }}</td>
            {% endif %}
        </tr>
        </table>
        <div style="float: right">
        {% if (words.translations.containsKey('en') and words.translations.containsKey('jp') and words.translations.containsKey('gm')
            and  words.translations.containsKey('it')) != true%}
            {{ form_widget(form.save) }}
        {% endif %}
        </div>
        {% else %}
            <tr>
                <td>{{ words.translate('ru').word }}</td>
                {% if words.translations.containsKey('en')%}
                    <td>{{ words.translate('en').word }}</td>
                {% else %}
                    <td>---------</td>
                {% endif %}
                {% if words.translations.containsKey('jp')%}
                    <td> {{ words.translate('jp').word }}</td>
                {% else %}
                    <td>---------</td>
                {% endif %}
                {% if words.translations.containsKey('gm')%}
                    <td>{{ words.translate('gm').word }}</td>
                {% else %}
                    <td>---------</td>
                {% endif %}
                {% if words.translations.containsKey('it')%}
                    <td> It {{ words.translate('it').word }}</td>
                {% else %}
                    <td>---------</td>
                {% endif %}
            </tr>
{% endif %}
</table>
    </div>
{% endblock %}
